/NVIDIA_CUDA-5.5_Samples/6_Advanced/alignedTypes/*.user
/NVIDIA_CUDA-5.5_Samples/1_Utilities/bandwidthTest/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/batchCUBLAS/*.user
/NVIDIA_CUDA-5.5_Samples/2_Graphics/bindlessTexture/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/boxFilterNPP/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/cdpAdvancedQuicksort/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/cdpLUDecomposition/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/cdpQuadtree/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/concurrentKernels/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/conjugateGradient/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/conjugateGradientPrecond/*.user
/NVIDIA_CUDA-5.5_Samples/1_Utilities/deviceQuery/*.user
/NVIDIA_CUDA-5.5_Samples/1_Utilities/deviceQueryDrv/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/eigenvalues/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/fastWalshTransform/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/FDTD3d/*.user
/NVIDIA_CUDA-5.5_Samples/5_Simulations/fluidsGL/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/freeImageInteropNPP/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/FunctionPointers/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/grabcutNPP/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/histEqualizationNPP/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/imageSegmentationNPP/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/interval/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/lineOfSight/*.user
/NVIDIA_CUDA-5.5_Samples/2_Graphics/Mandelbrot/*.user
/NVIDIA_CUDA-5.5_Samples/2_Graphics/marchingCubes/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/MC_EstimatePiInlineP/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/MC_EstimatePiInlineQ/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/MC_EstimatePiP/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/MC_EstimatePiQ/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/MC_SingleAsianOptionP/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/mergeSort/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/MersenneTwisterGP11213/*.user
/NVIDIA_CUDA-5.5_Samples/5_Simulations/nbody/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/newdelete/*.user
/NVIDIA_CUDA-5.5_Samples/5_Simulations/oceanFFT/*.user
/NVIDIA_CUDA-5.5_Samples/5_Simulations/particles/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/ptxjit/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/radixSortThrust/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/randomFog/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/reduction/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/scalarProd/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/scan/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/segmentationTreeThrust/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/shfl_scan/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/simpleCUBLAS/*.user
/NVIDIA_CUDA-5.5_Samples/7_CUDALibraries/simpleCUFFT/*.user
/NVIDIA_CUDA-5.5_Samples/2_Graphics/simpleGL/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/simpleHyperQ/*.user
/NVIDIA_CUDA-5.5_Samples/2_Graphics/simpleTexture3D/*.user
/NVIDIA_CUDA-5.5_Samples/5_Simulations/smokeParticles/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/sortingNetworks/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/threadFenceReduction/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/threadMigration/*.user
/NVIDIA_CUDA-5.5_Samples/6_Advanced/transpose/*.user
/NVIDIA_CUDA-5.5_Samples/2_Graphics/volumeFiltering/*.user
/NVIDIA_CUDA-5.5_Samples/2_Graphics/volumeRender/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/asyncAPI/*.pdb
/NVIDIA_CUDA-5.5_Samples/0_Simple/cdpSimplePrint/*.pdb
/NVIDIA_CUDA-5.5_Samples/0_Simple/inlinePTX/*.pdb
/NVIDIA_CUDA-5.5_Samples/0_Simple/inlinePTX/*.o
/NVIDIA_CUDA-5.5_Samples/0_Simple/asyncAPI/*.o
/NVIDIA_CUDA-5.5_Samples/0_Simple/matrixMulDrv/data/*.ptx
/NVIDIA_CUDA-5.5_Samples/0_Simple/matrixMulDrv/data/*.ptx
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleTextureDrv/data/*.ptx
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleTextureDrv/data/*.ptx
/NVIDIA_CUDA-5.5_Samples/0_Simple/vectorAddDrv/data/*.ptx
/NVIDIA_CUDA-5.5_Samples/0_Simple/vectorAddDrv/data/*.ptx
/NVIDIA_CUDA-5.5_Samples/6_Advanced/threadMigration/data/*.ptx
/NVIDIA_CUDA-5.5_Samples/6_Advanced/threadMigration/data/*.ptx
/NVIDIA_CUDA-5.5_Samples/0_Simple/vectorAddDrv/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/vectorAdd/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/template/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/template_runtime/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/stereoDisparity/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/SobelFilter/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleZeroCopy/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleVoteIntrinsics/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleTextureDrv/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleTexture/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleTemplates/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleSurfaceWrite/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleStreams/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleSeparateCompilation/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simplePrintf/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simplePitchLinearTexture/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleP2P/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleMultiGPU/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleMultiCopy/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleLayeredTexture/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleIPC/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleCubemapTexture/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleCallback/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleAtomicIntrinsics/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/simpleAssert/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/recursiveGaussian/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/postProcessGL/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/matrixMulDrv/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/matrixMulCUBLAS/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/matrixMul/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/inlinePTX/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/imageDenoising/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/HSOpticalFlow/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/histogram/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/dxtc/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/dwtHaar1D/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/dct8x8/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/cppIntegration/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/convolutionTexture/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/convolutionSeparable/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/convolutionFFT2D/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/clock/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/cdpSimpleQuicksort/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/cdpSimplePrint/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/boxFilter/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/bilateralFilter/*.user
/NVIDIA_CUDA-5.5_Samples/3_Imaging/bicubicTexture/*.user
/NVIDIA_CUDA-5.5_Samples/0_Simple/asyncAPI/*.user
/NVIDIA_CUDA-5.5_Samples/*.suo
/NVIDIA_CUDA-5.5_Samples/*.sdf
/NVIDIA_CUDA-5.5_Samples/3_Imaging/postProcessGL/data/*.ppm
/NVIDIA_CUDA-5.5_Samples/3_Imaging/postProcessGL/data/*.ppm
/NVIDIA_CUDA-5.5_Samples/3_Imaging/postProcessGL/data/*.ppm
/NVIDIA_CUDA-5.5_Samples/4_Finance/binomialOptions/*.user
/NVIDIA_CUDA-5.5_Samples/4_Finance/BlackScholes/*.user
/NVIDIA_CUDA-5.5_Samples/4_Finance/MonteCarloMultiGPU/*.user
/NVIDIA_CUDA-5.5_Samples/4_Finance/quasirandomGenerator/*.user
/NVIDIA_CUDA-5.5_Samples/4_Finance/SobolQRNG/*.user
/NVIDIA_CUDA-5.0_Samples/*.opensdf
/NVIDIA_CUDA-5.0_Samples/*.sdf
/NVIDIA_CUDA-5.0_Samples/*.suo
/NVIDIA_CUDA-5.0_Samples/6_Advanced/alignedTypes/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/asyncAPI/*.user
/NVIDIA_CUDA-5.0_Samples/1_Utilities/bandwidthTest/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/batchCUBLAS/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/bicubicTexture/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/bilateralFilter/*.user
/NVIDIA_CUDA-5.0_Samples/2_Graphics/bindlessTexture/*.user
/NVIDIA_CUDA-5.0_Samples/4_Finance/binomialOptions/*.user
/NVIDIA_CUDA-5.0_Samples/4_Finance/BlackScholes/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/boxFilter/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/boxFilterNPP/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/cdpAdvancedQuicksort/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/cdpLUDecomposition/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/cdpQuadtree/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/cdpSimplePrint/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/cdpSimpleQuicksort/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/clock/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/concurrentKernels/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/conjugateGradient/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/conjugateGradientPrecond/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/convolutionFFT2D/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/convolutionSeparable/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/convolutionTexture/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/cppIntegration/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/dct8x8/*.user
/NVIDIA_CUDA-5.0_Samples/1_Utilities/deviceQuery/*.user
/NVIDIA_CUDA-5.0_Samples/1_Utilities/deviceQueryDrv/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/dwtHaar1D/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/dxtc/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/eigenvalues/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/fastWalshTransform/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/FDTD3d/*.user
/NVIDIA_CUDA-5.0_Samples/5_Simulations/fluidsGL/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/freeImageInteropNPP/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/FunctionPointers/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/grabcutNPP/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/histEqualizationNPP/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/histogram/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/HSOpticalFlow/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/imageDenoising/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/imageSegmentationNPP/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/inlinePTX/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/interval/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/lineOfSight/*.user
/NVIDIA_CUDA-5.0_Samples/2_Graphics/Mandelbrot/*.user
/NVIDIA_CUDA-5.0_Samples/2_Graphics/marchingCubes/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/matrixMul/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/matrixMulCUBLAS/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/matrixMulDrv/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/MC_EstimatePiInlineP/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/MC_EstimatePiInlineQ/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/MC_EstimatePiP/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/MC_EstimatePiQ/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/MC_SingleAsianOptionP/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/mergeSort/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/MersenneTwisterGP11213/*.user
/NVIDIA_CUDA-5.0_Samples/4_Finance/MonteCarloMultiGPU/*.user
/NVIDIA_CUDA-5.0_Samples/5_Simulations/nbody/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/newdelete/*.user
/NVIDIA_CUDA-5.0_Samples/5_Simulations/oceanFFT/*.user
/NVIDIA_CUDA-5.0_Samples/5_Simulations/particles/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/postProcessGL/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/ptxjit/*.user
/NVIDIA_CUDA-5.0_Samples/4_Finance/quasirandomGenerator/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/radixSortThrust/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/randomFog/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/recursiveGaussian/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/reduction/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/scalarProd/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/scan/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/segmentationTreeThrust/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/shfl_scan/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleAssert/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleAtomicIntrinsics/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleCallback/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleCubemapTexture/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/simpleCUBLAS/*.user
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/simpleCUFFT/*.user
/NVIDIA_CUDA-5.0_Samples/2_Graphics/simpleGL/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/simpleHyperQ/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleIPC/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleLayeredTexture/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleMultiCopy/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleMultiGPU/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleP2P/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simplePitchLinearTexture/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simplePrintf/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleSeparateCompilation/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleStreams/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleSurfaceWrite/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleTemplates/*.user
/NVIDIA_CUDA-5.0_Samples/2_Graphics/simpleTexture3D/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleTexture/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleTextureDrv/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleVoteIntrinsics/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleZeroCopy/*.user
/NVIDIA_CUDA-5.0_Samples/5_Simulations/smokeParticles/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/SobelFilter/*.user
/NVIDIA_CUDA-5.0_Samples/4_Finance/SobolQRNG/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/sortingNetworks/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/stereoDisparity/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/template_runtime/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/template/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/threadFenceReduction/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/threadMigration/*.user
/NVIDIA_CUDA-5.0_Samples/6_Advanced/transpose/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/vectorAdd/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/vectorAddDrv/*.user
/NVIDIA_CUDA-5.0_Samples/2_Graphics/volumeFiltering/*.user
/NVIDIA_CUDA-5.0_Samples/2_Graphics/volumeRender/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/vectorAddDrv/data/*.ptx
/NVIDIA_CUDA-5.0_Samples/0_Simple/vectorAddDrv/data/*.ptx
/NVIDIA_CUDA-5.0_Samples/6_Advanced/threadMigration/data/*.ptx
/NVIDIA_CUDA-5.0_Samples/6_Advanced/threadMigration/data/*.ptx
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleTextureDrv/data/*.ptx
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleTextureDrv/data/*.ptx
/NVIDIA_CUDA-5.0_Samples/0_Simple/matrixMulDrv/data/*.ptx
/NVIDIA_CUDA-5.0_Samples/0_Simple/matrixMulDrv/data/*.ptx
/NVIDIA_CUDA-5.0_Samples/3_Imaging/postProcessGL/data/*.ppm
/NVIDIA_CUDA-5.0_Samples/3_Imaging/postProcessGL/data/*.ppm
/NVIDIA_CUDA-5.0_Samples/3_Imaging/postProcessGL/data/*.ppm
/NVIDIA_CUDA-5.0_Samples/0_Simple/inlinePTX/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/cdpSimplePrint/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/asyncAPI/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/asyncAPI/*.o
/NVIDIA_CUDA-5.0_Samples/0_Simple/inlinePTX/*.o
/NVIDIA_CUDA-5.0_Samples/3_Imaging/bilateralFilter/Win32
/NVIDIA_CUDA-5.0_Samples/0_Simple/cdpSimplePrint/Win32
/NVIDIA_CUDA-5.0_Samples/bin/win32/Debug/*.ilk
/NVIDIA_CUDA-5.0_Samples/bin/win32/Debug/*.pdb
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/simpleCUFFT/*.pdb
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/MC_SingleAsianOptionP/*.pdb
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/MC_EstimatePiQ/*.pdb
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/MC_EstimatePiP/*.pdb
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/MC_EstimatePiInlineQ/*.pdb
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/MC_EstimatePiInlineP/*.pdb
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/grabcutNPP/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/transpose/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/threadFenceReduction/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/sortingNetworks/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/simpleHyperQ/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/shfl_scan/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/segmentationTreeThrust/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/scan/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/scalarProd/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/reduction/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/radixSortThrust/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/newdelete/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/mergeSort/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/lineOfSight/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/interval/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/FunctionPointers/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/FDTD3d/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/fastWalshTransform/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/eigenvalues/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/concurrentKernels/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/cdpQuadtree/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/cdpLUDecomposition/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/cdpAdvancedQuicksort/*.pdb
/NVIDIA_CUDA-5.0_Samples/6_Advanced/alignedTypes/*.pdb
/NVIDIA_CUDA-5.0_Samples/5_Simulations/smokeParticles/*.pdb
/NVIDIA_CUDA-5.0_Samples/5_Simulations/particles/*.pdb
/NVIDIA_CUDA-5.0_Samples/5_Simulations/oceanFFT/*.pdb
/NVIDIA_CUDA-5.0_Samples/5_Simulations/nbody/*.pdb
/NVIDIA_CUDA-5.0_Samples/5_Simulations/fluidsGL/*.pdb
/NVIDIA_CUDA-5.0_Samples/4_Finance/SobolQRNG/*.pdb
/NVIDIA_CUDA-5.0_Samples/4_Finance/quasirandomGenerator/*.pdb
/NVIDIA_CUDA-5.0_Samples/4_Finance/MonteCarloMultiGPU/*.pdb
/NVIDIA_CUDA-5.0_Samples/4_Finance/BlackScholes/*.pdb
/NVIDIA_CUDA-5.0_Samples/4_Finance/binomialOptions/*.pdb
/NVIDIA_CUDA-5.0_Samples/3_Imaging/stereoDisparity/*.pdb
/NVIDIA_CUDA-5.0_Samples/3_Imaging/SobelFilter/*.pdb
/NVIDIA_CUDA-5.0_Samples/3_Imaging/postProcessGL/*.pdb
/NVIDIA_CUDA-5.0_Samples/3_Imaging/imageDenoising/*.pdb
/NVIDIA_CUDA-5.0_Samples/3_Imaging/HSOpticalFlow/*.pdb
/NVIDIA_CUDA-5.0_Samples/3_Imaging/histogram/*.pdb
/NVIDIA_CUDA-5.0_Samples/3_Imaging/dxtc/*.pdb
/NVIDIA_CUDA-5.0_Samples/3_Imaging/dwtHaar1D/*.pdb
/NVIDIA_CUDA-5.0_Samples/3_Imaging/dct8x8/*.pdb
/NVIDIA_CUDA-5.0_Samples/3_Imaging/convolutionTexture/*.pdb
/NVIDIA_CUDA-5.0_Samples/3_Imaging/convolutionSeparable/*.pdb
/NVIDIA_CUDA-5.0_Samples/3_Imaging/convolutionFFT2D/*.pdb
/NVIDIA_CUDA-5.0_Samples/3_Imaging/boxFilter/*.pdb
/NVIDIA_CUDA-5.0_Samples/3_Imaging/bilateralFilter/*.pdb
/NVIDIA_CUDA-5.0_Samples/3_Imaging/bicubicTexture/*.pdb
/NVIDIA_CUDA-5.0_Samples/2_Graphics/volumeRender/*.pdb
/NVIDIA_CUDA-5.0_Samples/2_Graphics/volumeFiltering/*.pdb
/NVIDIA_CUDA-5.0_Samples/2_Graphics/simpleTexture3D/*.pdb
/NVIDIA_CUDA-5.0_Samples/2_Graphics/simpleGL/*.pdb
/NVIDIA_CUDA-5.0_Samples/2_Graphics/marchingCubes/*.pdb
/NVIDIA_CUDA-5.0_Samples/2_Graphics/Mandelbrot/*.pdb
/NVIDIA_CUDA-5.0_Samples/2_Graphics/bindlessTexture/*.pdb
/NVIDIA_CUDA-5.0_Samples/1_Utilities/bandwidthTest/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/vectorAdd/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/template_runtime/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/template/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleZeroCopy/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleVoteIntrinsics/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleTexture/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleTemplates/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleSurfaceWrite/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleStreams/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleSeparateCompilation/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simplePrintf/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simplePitchLinearTexture/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleP2P/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleMultiGPU/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleMultiCopy/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleLayeredTexture/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleIPC/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleCallback/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleAtomicIntrinsics/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleAssert/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/matrixMul/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/cppIntegration/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/clock/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/cdpSimpleQuicksort/*.pdb
/NVIDIA_CUDA-5.0_Samples/bin/win32/Release/*.pdb
/NVIDIA_CUDA-5.0_Samples/bin/win32/Release/*.pdb
/NVIDIA_CUDA-5.0_Samples/bin/win32/Release/*.pdb
/NVIDIA_CUDA-5.0_Samples/bin/win32/Release/*.pdb
/NVIDIA_CUDA-5.0_Samples/ipch
/NVIDIA_CUDA-5.0_Samples/3_Imaging/bilateralFilter/*.o
/NVIDIA_CUDA-5.0_Samples/0_Simple/matrixMul/*.sdf
/NVIDIA_CUDA-5.0_Samples/0_Simple/matrixMul/*.suo
/NVIDIA_CUDA-5.0_Samples/0_Simple/asyncAPI/Win32
/NVIDIA_CUDA-5.0_Samples/0_Simple/cppIntegration/Win32
/NVIDIA_CUDA-5.0_Samples/0_Simple/cppOverload/Win32
/NVIDIA_CUDA-5.0_Samples/0_Simple/cppOverload/ipch
/NVIDIA_CUDA-5.0_Samples/0_Simple/cppOverload/*.sdf
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleCallback/Win32
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleCallback/ipch
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleCallback/*.opensdf
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleCallback/*.o
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleCallback/*.sdf
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleMPI/Template
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleMultiCopy/Win32
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleMultiCopy/*.o
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleMultiGPU/Win32
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleMultiGPU/ipch
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleMultiGPU/*.o
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleMultiGPU/*.sdf
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleStreams/Win32
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleStreams/*.o
/NVIDIA_CUDA-5.0_Samples/0_Simple/template/Win32
/NVIDIA_CUDA-5.0_Samples/0_Simple/template/*.o
/NVIDIA_CUDA-5.0_Samples/0_Simple/vectorAdd/Win32
/NVIDIA_CUDA-5.0_Samples/0_Simple/vectorAdd/*.o
/NVIDIA_CUDA-5.0_Samples/0_Simple/cppIntegration/*.o
/NVIDIA_CUDA-5.0_Samples/0_Simple/cppOverload/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/cppOverload/*.suo
/NVIDIA_CUDA-5.0_Samples/0_Simple/cppOverload/*.o
/NVIDIA_CUDA-5.0_Samples/0_Simple/cudaOpenMP/Template
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleMPI/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/cudaOpenMP/*.user
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleSeparateCompilation/*.sdf
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleSeparateCompilation/*.suo
/NVIDIA_CUDA-5.0_Samples/0_Simple/cppOverload/*.pdb
/NVIDIA_CUDA-5.0_Samples/0_Simple/simpleMPI/*.pdb
/NVIDIA_CUDA-5.0_Samples/1_Utilities/deviceQuery/Win32
/NVIDIA_CUDA-5.0_Samples/2_Graphics/marchingCubes/Win32
/NVIDIA_CUDA-5.0_Samples/2_Graphics/marchingCubes/*.o
/NVIDIA_CUDA-5.0_Samples/3_Imaging/boxFilter/Win32
/NVIDIA_CUDA-5.0_Samples/3_Imaging/boxFilter/ipch
/NVIDIA_CUDA-5.0_Samples/3_Imaging/boxFilter/*.o
/NVIDIA_CUDA-5.0_Samples/5_Simulations/particles/Win32
/NVIDIA_CUDA-5.0_Samples/5_Simulations/smokeParticles/Win32
/NVIDIA_CUDA-5.0_Samples/6_Advanced/radixSortThrust/Win32
/NVIDIA_CUDA-5.0_Samples/6_Advanced/radixSortThrust/*.o
/NVIDIA_CUDA-5.0_Samples/6_Advanced/reduction/Win32
/NVIDIA_CUDA-5.0_Samples/6_Advanced/reduction/ipch
/NVIDIA_CUDA-5.0_Samples/6_Advanced/reduction/*.o
/NVIDIA_CUDA-5.0_Samples/6_Advanced/reduction/*.sdf
/NVIDIA_CUDA-5.0_Samples/6_Advanced/scan/Win32
/NVIDIA_CUDA-5.0_Samples/6_Advanced/scan/*.o
/NVIDIA_CUDA-5.0_Samples/6_Advanced/segmentationTreeThrust/Win32
/NVIDIA_CUDA-5.0_Samples/6_Advanced/transpose/Win32
/NVIDIA_CUDA-5.0_Samples/6_Advanced/transpose/*.o
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/batchCUBLAS/Win32
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/grabcutNPP/Win32
/NVIDIA_CUDA-5.0_Samples/7_CUDALibraries/grabcutNPP/*.o
/NVIDIA_CUDA-5.0_Samples/8_diy/matrixInv/ipch
/NVIDIA_CUDA-5.0_Samples/8_diy/matrixInv/Win32
/NVIDIA_CUDA-5.0_Samples/8_diy/matrixInv/*.sdf
/NVIDIA_CUDA-5.0_Samples/8_diy/matrixInv/*.pdb
/NVIDIA_CUDA-5.0_Samples/bin/win32/Release/*.exe
/NVIDIA_CUDA-5.0_Samples/bin/win32/Debug/*.exe
/NVIDIA_CUDA-5.0_Samples/3_Imaging/boxFilter/*.sdf
/NVIDIA_CUDA-5.0_Samples/6_Advanced/cdpQuadtree/Win32
/NVIDIA_CUDA-5.0_Samples/6_Advanced/lineOfSight/Win32
/NVIDIA_CUDA-5.0_Samples/6_Advanced/segmentationTreeThrust/*.ppm
/NVIDIA_CUDA-5.0_Samples/bin/win32/Release/*.dll
/NVIDIA_CUDA-5.0_Samples/5_Simulations/particles/*.o
/NVIDIA_CUDA-5.0_Samples/6_Advanced/lineOfSight/*.o
/NVIDIA_CUDA-5.0_Samples/5_Simulations/smokeParticles/*.o
/NVIDIA_CUDA-5.0_Samples/8_diy/matrixInv/*.user
/NVIDIA_CUDA-5.0_Samples/3_Imaging/boxFilter/*.ppm
